* {
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #333;
    section {
        margin: 0 auto;
        max-width: 95vw;
    }
}